@charset "UTF-8";
@import  "reset.css";
@import"cores.css";

@font-face{
    font-family:mario;
    src: url('fontes/mario.ttf');
}

body{
    background-color: black;
    color: white;
    font-family: Mario;
}

h1{
    font-size: 60px;
    color: rgb(0, 204, 255);
}

a{
    color: rgb(0, 183, 255);
    font-size: 30px;
    text-decoration: none;
}
h2{
    color: rgb(146, 209, 228);
    text-align: center;

}
li{
    text-align: center;
    color: rgb(0, 204, 255);
}

div{text-align: center;
    color: rgb(255, 255, 255);

}
h3{
    color: rgb(255, 255, 255);
    text-align: center;
}
mark{
    color: rgb(255, 0, 0);
    text-align: center;
}
